
%section.uxcamphh
  %h1 Willkommen beim Camp

%section
  %h1 Der Tag
  %ul
    %li bis 10h: Begrüßung und Sessionplanung
    %li bis 13:30 Sessions
    %li Mittach
    %li bis ca 18h: Sessions
    %li ab ca 18h: Grillen und Bier trinken
    %li ab 21h: alle schnell aufräumen
    %li ab 22h: in der Reisebar noch mehr Bier trinken

%section
  %h1 Danke an unsere Sponsoren!
  
  .sponsors  
    %img{ :src => "assets/media/sponsors.png" }


%section
  %h1
    %a{ :href => "https://github.com/mbostock/stack" } stack.js

  %p A presentation library with intuitive, scroll-based navigation.

  %p.bottom
    Built with
    %a{ :href => "http://mbostock.github.com/d3/" } d3.js

%section
  %h1 Crossfades
  %p Sneak a peek at the next slide by scrolling down and back.

%section
  %h1.bottom PEEK-A-BO! I see you!

%section.beach
  %h1.bottom.white Variable-width Slides

%section
  %h1
    Scroll-Happy
  %p
    Scroll many slides at once with a flick of the wrist.
    %br Or, grab the scrollbar on the slide and jump around.

%section.big
  %h1 9

%section.big
  %h1 8

%section.big
  %h1 7

%section.big
  %h1 6

%section.big
  %h1 5

%section.big
  %h1 4

%section.big
  %h1 3

%section.big
  %h1 2

%section.big
  %h1 1


%section
  %h1 Snap-to Scrolling

  %p If you stop between slides, the stack will drift to the closest slide.

%section
  %h1 Edge Detection

  %p 
    If you scroll up, the previous slide is immediately visible.
    %br If you scroll down, the next slide is immediately visible.
  %p
    (This would be more robust if WebKit supported touch events!)

%section
  %h1 Keyboard Shortcuts

  %p
    up / down / left / right
    %br page up / page down
    %br home / end
    %br space / shift-space

  %p Press up or down multiple times, and it does the right thing!

%section
  %h1 More Features! [to-do]

  %p 
    Zoom-out overview?
    %br Anchor fragments.
    %br Auto-loading iframes for resource-expensive slides.
    %br iOS & non-WebKit browser testing.
