%head
	%meta{ :charset => "utf-8" }/
	%title Title
	%link{ :rel => "stylesheet", :href => "assets/stylesheets/stack.css", :type => "text/css" }/
	%link{ :rel => "stylesheet", :href => "assets/stylesheets/styles.css", :type => "text/css" }/
